.hind-regular {
  font-family: "Hind", serif;
  font-weight: 400;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
